<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Gata Fofa</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao site da prefeita!</h1>
        <p>Ela faz biquinho, ronrona e adora carinho no cox 🐾</p>
        <img src="/static/gata.jpg" alt="Foto da minha gata">
        <a href="/loja" class="botao-loja">🐾 Visitar a lojinha da Delft</a>
    </div>
    
    <a href="#" class="scroll-top">⬆</a>

</body>
</html>

